table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: hidden;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
     opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
   
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.accordion {
    background-color: #94b8b8;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid;
    border-color: white;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #b3cccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}
.button {
    float:left;
    background-color: #94b8b8; /* Green */
    border: solid;
    border-color: white;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.button:hover{
  background-color: #b3cccc;
}
body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Solar_panels_on_a_roof.jpg);
}

.input[type="number"]{
  float:right;
  margin-left: 200px;
  margin-right: 700px;
}